<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3><%= listing.title %></h3>
    </div>
    <div class="card col-6 offset-2">
        <div class="card" style="width: 18rem;">
            <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
              <p>Owned by <i><%= listing.owner.username %></i></p>
              <p><%= listing.description %></p>  
              <p> &#8377; <%= listing.price.toLocaleString("en-IN")%></p> 
              <p><%= listing.location %> </p>  
              <p><%= listing.country %></p>
            </div>
          </div>
    </div>
       <% if(currUser && currUser._id.equals(listing.owner._id)) { %>   
       <div class="col-8 offset-2  d-flex gap-2">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark">Edit</a>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
            <button type="Delete" class="btn btn-danger">Delete</button>
        </form>
    </div>
    <% } %>
    
    <div class="col-8 offset-2 mb-3" >
        <hr>
        
            
                
            
            <div class="mb-3 mt-3">
              <% if(currUser) { %>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
            <fieldset class="starability-slot">
              <!-- <input type="range" min="0" max="5" id="rating" name="rating" class="form-range"> -->
              <!-- <label for="rating" class="form-lable">Rating</label> -->
              <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="rating" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="rating" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="rating" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="rating" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="rating" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          
            <div class="mb-3 mt-3">
                <label for="comment" class="form-lable">Comments</label>
                <textarea name="comment" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">Please add some comments for review</div>
            </div>

            <div >
                <button class="btn btn-outline-dark">Submit</button>
            </div>
         
        </form>
        <% } %>
        <hr>
        <h4>All Reviews</h4>
        </div>
      </div>
      <div class="col-6 offset-3 mb-3">
        <h3>Where You'll be</h3>
        <div id="map"></div>
      </div>
    </div> 
   
        
        <div class="row">
            <% if (listing.reviews.length > 0) { %>
              <% listing.reviews.forEach(review => { %>
                <div class="card border col-5 offset-2 mb-3">
                  <div class="card-body">
                    <div class="card-name"> <strong>@<%= review.author.username %></strong></div>
                    <p class="starability-result card-text" data-rating="<%= review.rating %>">
                    </p>
                    <div><strong></strong> <%= review.comment %></div>
                    
                    <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                      <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                  </div>
                </div>
              <% }) %>
            <% }%>
            
          </div>
          
    

</div>
<script src="/js/map.js"></script>